<launch>
    <!-- Convert output PoseStamped message to Odometry -->
    <node pkg="topic_tools" type="transform" name="pose_to_odom"
          respawn="true" output="screen"
          args="/trajectory_pose
                /cartographer/odometry
                nav_msgs/Odometry
                'nav_msgs.msg.Odometry(header=m.header, pose=m.pose)' --import nav_msgs geometry_msgs">
    </node>
</launch>
